<!doctype html>
<html ng-app="demo">
<head>
    <title>Products</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="main.js"></script>
</head>

<body>
<div ng-controller="Product">

    <h1>Products</h1>
    <br/>
    <ul ng-repeat="x in products">
        <li>
            <h1>{{x.name}}</h1>
            <h1>{{x.description}}</h1>
        </li>
    </ul>
</div>
</body>
</html>
