<!DOCTYPE html>
<html ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>Create Image</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="../main.js"></script>
</head>
<body>
    <div ng-controller="CreateImage">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title">Create product</h1>
            </div>
            <form method="POST" action="/image" role="form">
                <div class="col-xs-12 col-sm-6">\
                    <div class="form-group">
                        <label> Id: </label>
                        <input type="text" name="id" ng-model="id" placeholder="id" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label> Name: </label>
                        <input type="text" name="name" ng-model="name" placeholder="name" class="form-control"/>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label> Type: </label>
                            <input type="text" name="type" ng-model="type" placeholder="type" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label> Product Id: </label>
                            <input type="text" name="product_id" ng-model="product_id" placeholder="product_id" class="form-control"/>
                        </div>
                    </div>
                    <div class="pull-right">
                        <a href="../index.html" title="Cancel" class="button">
                            <i class="glyphicon glyphicon-arrow-left" ></i>
                            <span> Cancel </span>
                        </a>
                        <button type="submit" ng-click="imageSubmit()" value="Submit" class="button button-principal">
                            <i class="glyphicon glyphicon-ok"></i>
                            <span> Submit </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>