<!DOCTYPE html>
<html ng-app="demo">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="../main.js"></script>
    <title>Images</title>
</head>
<body>
    <div ng-controller="Image">

    <h1>Images</h1>
    <br/>
    <ul ng-repeat="x in images">
        <li>
            <h1>{{x.name}}</h1>
            <h1>{{x.type}}</h1>
            <h1>{{x.product_id}}
        </li>
    </ul>
    </div>

</body>
</html>