<!DOCTYPE html>
<html ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="../main.js"></script>
</head>
<body>
    <div ng-controller="CreateProduct">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title">Create product</h1>
            </div>
            <form method="POST" action="/product" role="form">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label> Id: </label>
                        <input type="text" name="id" ng-model="id" placeholder="id" class="form-control"/>
                    </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label> Name: </label>
                        <input type="text" name="name" ng-model="name" placeholder="name" class="form-control"/>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label> Description: </label>
                        <input type="text" name="description" ng-model="description" placeholder="description" class="form-control"/>
                    </div>
                </div>
                    <div class="pull-right">
                        <a href="../index.html" title="Cancel" class="button">
                            <i class="glyphicon glyphicon-arrow-left" ></i>
                            <span> Cancel </span>
                        </a>
                        <button type="submit" value="Submit" ng-click="productSubmit()" class="button button-principal">
                            <i class="glyphicon glyphicon-ok"></i>
                            <span> Submit </span>
                        </button>
                    </div>
            </form>
        </div>
    </div>
</body>
</html>