<!DOCTYPE html>
<html ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="../main.js"></script>
</head>
<body>
<div class="row">
    <div ng-controller="UpdateProduct">
        <div class="col-xs-12">
            <h1 class="title">Update product</h1>
        </div>
        <form method="PUT" action="/product/{product_id}" role="form">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label> Your id: </label>
                    <input type="text" name="id" ng-model="id" placeholder="id" class="form-control"/>
                </div>
                <div class="form-group">
                    <label> Id of the father: </label>
                    <input type="text" name="product_id" ng-model="product_id" placeholder="product_id" class="form-control"/>
                </div>
                <div class="pull-right">
                    <a href="../index.html" title="Cancel" class="button">
                        <i class="glyphicon glyphicon-arrow-left" ></i>
                        <span> Cancel </span>
                    </a>
                    <button type="submit" value="Submit" ng-click="updateSubmit()" class="button button-primary">
                        <i class="glyphicon glyphicon-ok"></i>
                        <span> Submit </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>